<p>There are <%= @record.count %> User Journey(s).</p> </br>
<% a = record_title(record) %>
<div class="container">
<% ind = 1 %>
<% a.each do |re| %>
  <p>UJ <%= ind %> : <%= re.join('-->')%>.</p>
  <br>
  <br>
  <% ind += 1 %>
<% end %>
</div>