<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default panel-table">
    <div class="panel-heading">
      <div class="row">
        <div class="col col-xs-6">
          <h3 class="panel-title">Generate Usecase Journey</h3>
          <p id="notice"><%= notice %>
        </div>
        <div class="col col-xs-6 text-right">
          <%= link_to 'BACK', state_machines_path ,class: "btn btn-sm btn-primary btn-create"%>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <%= image_tag @state_machine.photo.url(:large) %>
    </div>
    <br>
    <div>
  
      <div class="form-group">
        <label>Node Pick-up : </label>
        <input type="text" id="InputNode" placeholder="1 or 1.1" autofocus="false">
      </div>
      <div class="form-group">
        <label>Node Exit : </label>
        <input type="text" id="ExitNode" placeholder="1 or 1.1" autofocus="false">
      </div>
      <button type="submit" class="btn btn-primary" id="state_machine_journey">Generate User Journey</button>

    </div>
    <br>
  </div>
</div>

<script type="text/javascript">
  $("#state_machine_journey").click(function() {
    var p_node = $('#InputNode').val();
    var e_node = $('#ExitNode').val();
    if(p_node == '' && e_node == ''){
      bootbox.alert('enter values in search nodes');
      return false;
    }else{
    $.ajax({
        url: "/state_machines/9/state_machine_nodes/9/generate_user_journey",
        type: "POST",
        data: {pick_up_node: $(InputNode).val(),exit_node: $(ExitNode).val() }
    }); 
    } 
  });
</script>