<div class="panel panel-default">
  <div class="panel-body"><h1>Editing State Machine</h1></div>
  <%= render 'form' %>
  <%= link_to 'Show', @state_machine %> |
  <%= link_to 'Back', state_machines_path %>
</div>