<div class="panel panel-default">
  <div class="panel-body">state machine index</div>
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @state_machine.name %>
  </p>
  <p>
    <strong>File:</strong>
    <%= image_tag @state_machine.photo.url(:large) %>
  </p>
  <%= link_to 'Back', state_machines_path %>
</div>
